

:root {
    --primaryColor : #061319;
    --secondColor : #294444;
    --thirdColor : #8A9DA6;
    --quatriemeColor:#324951;

}
.col {
    margin: 0!important;
    padding:0!important;
}
#opacity {
    width:100%;
    height: 781px;
    position:absolute;
    background-color: var(--primaryColor);
    content:" ";
    top: 120%;
    opacity: 0.6;
}

body {
    background-color: #061319;
    font-family: 'Ramaraja', serif;

}
body,header,section,figure,img {
    width:100%;
    padding:0;
    margin:0;
}

h3 {
    color:var(--thirdColor);
}

p {
    padding:0 5px;
}
#bienvenue h2,#conceptLivre h2,#dernierChapitrePublie h2 {
    padding-top: 60px;
    text-align: center;
    padding-bottom: 30px;
    color: var(--thirdColor);
}


header {
    display: flex;
    position: fixed;
    top: 0px;
    padding: 20px 35px;
    justify-content: space-between;
    z-index: 2222222;
    vertical-align: middle;
    align-items: center;
}
#logo {
    padding-left: 20px;
    font-weight: bold;
}
#toggle {
    display:none;
    background-color: transparent;
    border: 2px solid transparent;
}
#menu {
    padding-right: 3px;
}
ul {
    list-style-type:none;
    /* on remet les element a gauche  */
    padding-left:0px;
    color: var(--primaryColor);
    margin-bottom: 0px!important;
}
#menu ul {
    display:flex;
    list-style-type:none;
    /* on remet les element a gauche  */
    padding-left:0px;
    color: var(--primaryColor);
    margin-bottom: 0px!important;
}
#menu ul a{
    text-decoration: none!important;
    color: var(--primaryColor);
    font-size:14px;
    font-weight: bold;
}

#main {
    width:100%;
    POSITION: relative;
}

#imageParrallaxText {
    position:absolute;
    top: 21%;
    width: 100%;
    margin-left: -300px;
    text-align: center;
}

#containerTitre {
    margin:0 auto;
}
.boutonAlaska {
    color:var(--primaryColor);
    border:2px solid var(--primaryColor);
    padding:20px;
    margin: 20px 0;
}

.boutonAlaska:hover {
    background-color:var(--secondary);
    color:var(--primaryColor);
    border:2px solid var(--primaryColor);
}
#main button {
    background-color: transparent;
    border: 4px transparent solid;
}

#main button a{
    text-decoration: none;
    color: var(--primaryColor);
}

#main button:hover ,#main a:hover{
    background-color: var(--primaryColor);
    color:white;
    text-decoration: none;

}
li {
    padding : 2px 10px;
}
/* stylisation du bloc de bienvenue */
#bienvenue {
    background-color: var(-);
    /* background-color: #bcc4c7; */
}
#bienvenue p {
    color: var(--secondary);
    font-size: 21px;
    text-align: center;
    padding: 60px 117px;
    margin: 0;
}


/* stylisation de l'explication de livre en ligne */
#conceptLivre {
    background-color: #465d65;
}

#conceptLivre h2 {
    /* color: var(--primaryColor); */
    padding-top: 60px;
    text-align: center;
    padding-bottom: 30px;
    /* color: white; */
}



#containerConcept p {
    color: var(--secondary);
    font-size: 21px;
    padding: 9px 27px;
    /* height: 378px; */
    /* border: 1px solid var(--thirdColor); */
}



#conceptLivre #explicationConcept {
    color: white;
    width: 100%;
    padding-bottom: 9%;
    flex-wrap: wrap-reverse;
}

#conceptLivre figure {
    width: 100%;
    /* float: right; */
}

#conceptLivre figure:after {
    position: absolute;
    top: 0px;
    left:0px;
    width: 100%;
    height: 100%;
    z-index: 55555;
    content:" ";
    /* background-color: #0b1a20; */
    opacity: 0.5;
}


.row {
    margin:0!important;
    margin:0!important;
}

footer {
    background-color: black;
    margin-top: 5%;
}

#footerContainer {
    padding : 20px 10px;
}
footer a {
    color:var(--secondary)
}

.footerColumn {
    padding: 20px 8px;
    margin:10px auto;
}
/* stylisation de la bibliographie */
.h3Bibliographie {
    padding:20px;
    text-align: center;
}

.listBibliographie {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.listBibliographie figure {
    width:40%;
    min-width:320px;
    padding: 38px;
}
/* stylisation de la partie publication */

#dernierChapitrePublie {
    background-color: url(images/fog-on-dark-waters-edge.mobile.jpg);
}


.blocPublication {
    display : flex;
}

.blocPublication p,.dateDePublication {
    text-align:center;
}

.blocPublication figure {
    display: flex;
    justify-content: center;
}

.blocPublication div {
    width: 100%;
}


.blocPublication {
    padding-bottom: 75px;
}


/* Page des chapitres  */
#mainBilletContainer {
    margin: 100px auto 12px auto;
    text-align: center;
}

 
#paragrapheBillet {
    /* width:60%; */
    color:white;
    text-align: center;
}

#imageParrallaxBillet {
    position:fixed;
    top: 0px;
    z-index: -12;
}

.chapitre {
    /* width: 560px; */
    padding: 0;
    position:relative;
    margin: 0px auto;
    margin: 20px auto;
    /* display: flex; */
}
.chapitre .infoChapitre {
    position:absolute;
    z-index:22;
    color:var(--secondary)!important;
    /* width: 90%; */
    text-align:center;
}
.chapitre figure {
    display:flex;
    flex-wrap: wrap;
    position: relative;
    padding: 0px !important;
    margin: 0 auto 90px auto;
    border: 2px solid var(--secondColor);
}

.chapitre figcaption {
    background-color: var(--primaryColor);
    bottom: 21%;
    padding: 13px 12px;
    display: flex;
    flex-direction: column;
}

.buttonChapitre {
    position: absolute;
    bottom:40%;
    color:white;
    background-color:var(--secondColor);
    border-radius:20px;
    width:170px;
    margin:2px auto;
    left:50%;
    margin-left:-90px;
    text-align: center;
    padding: 2px;
}

.btnS {
    color:white!important;
    background-color:var(--secondColor);
    border-radius:20px;
    width:170px;
    padding: 3px 10px;
    vertical-align: middle;
} 

.infoChapitre {
    position: absolute;
    background-color: var(--primaryColor);
    width: 100%;
    color: white;
    top: 9%;
    opacity: 0.8;
    z-index: 222;
}

.infoChapitre h3 {
    /* font-size: 20px; */
    /* color: var(--primaryColor); */
    width: 100%;
    margin: 1px auto;
    text-align: center;
    top: 2px;
    /* margin-left: -2px; */
}
.infoChapitre h4 {
    
top: 139%;
    
width: 100%;
    
/* font-size: 2vw; */
    
text-align: center;
}

.resume {
    color: var(--secondary);
    padding: 0 5px;
}

.lireLaSuite {
    text-align: center;
}

/* stylisation des infos de connexion */
form {
    display:flex;
    flex-direction: column;
    width:300px;
    margin:20px auto;
    text-align:center;
}


/* stylisation de la partie contact */



/* stylisation chapitre template */
#billetContainer {
    margin-top:20px;
}
#billetContainer figure {
    position:relative;
    /* margin: 0; */
}
#figcaptionChapitre {
    position:absolute;
    top: 2px;
    width: 100%;
}

#figcaptionChapitreContainer {
    margin:20px auto;
    text-align: center;
    color:white;
}

#figcaptionChapitreContainer h2 {
    font-size:40px;
}

#figcaptionChapitreContainer p {
    font-size:30px;
}
.contenuChapitre {
    margin:50px 0;
}

.chapitre figure img ,.contenuChapitre img{
    height:258px;
    margin: 0px auto;
}

.sousChapitre {
    color: var(--secondary);
    text-align: center;
}

.chapitretemplate {
    background-color:var(--primaryColor);
    margin: 91px auto;
    /* padding: 20px; */
    border: 2px solid var(--secondColor);
}

.chapitretemplate p {
    padding: 43px 12px;
    color:white;
}


.trait {
    width: 80%;
    content: " ";
    height: 2px;
    background-color:  white;
    margin: 65px auto;
    z-index: 3333333333;
}

.commentaire {
    text-align:center;
    padding: 10px 0;
    position:  relative;
}

.commentaire h4,.commentaire h5 {
    color:var(--secondary)
}

.commentaire form {
    display:flex;
    color: white;
    vertical-align: center;
}


/* stylisation de la partie administration nouveau chapire */
#formTinyMCE {
    width:70%;
}




@media screen and (max-width: 640px) {

#bienvenue p {
    padding: 8px;
    color: var(--secondary);
    font-size: 21px;
    margin-bottom: 17%;
    }

#figcaptionChapitreContainer h2 {
    font-size: 33px;
}

#figcaptionChapitreContainer p {
    font-size: 22px;
}


.chapitretemplate {
    padding-right: 0!important;
    padding-left:0!important;
}
}