
/*   
Regles generales 
I Stylisation de la page d'accueil
       Stylisation  de l' header de l'accueil 
       stylisation du bloc de bienvenue 
II  Stylisation de l'explication de Book en ligne 
III stylisation de la bibliographie
IV stylisation de la partie publication
V Stylisation de la Page des Chapters
VI Stylisation des infos de connexion
VII Stylisation de la partie contact 
VIII Stylisation  Accueil administration 
IX Stylisation de la page administration des Chapters 
X Stylisation de la page des Chapters administration ecrire
XI animation
VII Media queries

*/

#Error {
    animation: Error 10s infinite;
    color: red!important;
}

#success {
    animation: success 10s infinite;
    color : green!important;
}


.administrationChapter .message {
    margin: 0px auto;
}

#bodyContainer {
    max-width: 1800px;
    margin: 0px auto;
}

.col {
    margin: 0!important;
    padding: 0!important;
}

a {
    font-size: 1.3em;
}

body {
    background-color: #061319;
}

body,
header,
section,
figure,
img {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Ramaraja', serif;
}

p,
figcaption,
label,
input {
    font-size: 1.3em!important;
}

h5,
h6 {
    font-size: 1em!important;
}

h3 {
    color: #8A9DA6;
    text-align: center;
}

p {
    padding: 0 5px;
}


/* Stylisation de l'accueil*/
    /* header de l'accueil */
#bienvenue h2,
#conceptBook h2,
#LastChapterPublished h2 {
    padding: 60px 10px 30px 10px;
    text-align: center;
    color: #8A9DA6;
    font-size: 2.5em;
}

header {
    display: flex;
    position: fixed;
    top: 0px;
    padding: 20px 35px;
    justify-content: space-between;
    z-index: 2222222;
    align-items: center;
    font-size: 18px;
}

#toggle {
    display: none;
    background-color: transparent;
    border: 2px solid transparent;
    font-weight: bold;
}

#menu {
    padding-right: 3px;
}

ul {
    list-style-type: none;
    /* on remet les element a gauche  */
    padding-left: 0px;
    color: #061319;
    margin-bottom: 0px!important;
}

#menu ul {
    display: flex;
    list-style-type: none;
    /* on remet les element a gauche  */
    padding-left: 0px;
    color: #061319;
    margin-bottom: 0px!important;
}

#menu ul a,
#logo a {
    text-decoration: none!important;
    color: #061319;
    font-size: 18px;
}

#menu ul a:hover {
    text-decoration: none!important;
    color: white;
}


    /*stylisation de la partie principale de l'accueil*/

#main {
    /* width:100%; */
    POSITION: relative;
}

#imageParrallaxText {
    position: absolute;
    top: 21%;
    width: 100%;
    margin-left: -300px;
    text-align: center;
}

#ContainerTitre {
    margin: 0 auto;
}

.ButtonAlaska {
    color: #061319;
    border: 2px solid #061319;
    padding: 20px;
    margin: 20px 0;
}

.ButtonAlaska:hover {
    color: #061319;
}

#ButtonHomePage {
    margin: 30px;
}

#main a {
    text-decoration: none;
    color: #061319;
    padding: 5px;
    margin: 50px 10px;
}

#main a:hover {
    color: white;
    text-decoration: none;
}

.btnS:hover {
    background-color: #061319;
    color: white;
    text-decoration: none;
    border: 2px solid white;
}

li {
    padding: 2px 10px;
}


/* stylisation du bloc de bienvenue */

#bienvenue p {
    color: #6c757d;
    text-align: center;
    padding: 60px 117px;
    margin: 0;
}

.icon {
    text-align: center;
    font-size: 71px;
    color: #6c757d;
}


/* stylisation du footer*/

footer {
    background-color: black;
    margin-top: 5%;
}

#footerContainer {
    padding: 20px 10px;
}

footer a {
    color: #6c757d
}

.footerColumn {
    padding: 20px 8px;
    margin: 10px auto;
}


/* stylisation de l'explication de Book en ligne */

#explicationConcept {
    margin: 0px auto;
}

#conceptBook {
    background-color: #465d65;
}

#conceptBook h2 {
    padding-top: 60px;
    text-align: center;
    padding-bottom: 30px;
}

#ContainerConcept {
    margin: 0px auto;
}

#ContainerConcept p {
    color:#f8f9fa;
    font-family: 'Sriracha', cursive;
}

#conceptBook #explicationConcept {
    color: white;
    width: 100%;
    padding-bottom: 60px;
    flex-wrap: wrap-reverse;
    margin: 0 auto;
}


#conceptBook figure:after {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 55555;
    content: " ";
    opacity: 0.5;
}

.row {
    margin: 0!important;
    margin: 0!important;
}



/* stylisation de la bibliographie */

.h3Bibliographie {
    padding: 20px;
    text-align: center;
}

.listBibliographie {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.listBibliographie figure {
    width: 25%;
    min-width: 177px;
    width: 220px;
    padding: 13px;
    text-align: center;
}

.listBibliographie figure img {
    min-width: 100px;
    width: 130px;
    margin: 1px auto;
    display: block;
}

.listBibliographie figure figcaption {
    color: white;
    padding: 9px 0 30px 0;
}


/* stylisation de la partie publication */

.blocPublication {
    display: flex;
}

.blocPublication p,
.dateDePublication {
    text-align: center;
}

.blocPublication figure {
    display: flex;
    justify-content: center;
}

.blocPublication div {
    width: 100%;
}

.blocPublication {
    padding-bottom: 75px;
}


/* Stylisation de la Page des Chapters  */

#listeChapter {
    max-width: 1600px;
    margin: 0px auto!important;
}

#mainBilletContainer {
    margin: 130px auto 12px auto;
    text-align: center;
}

#paragrapheBillet {
    color: white;
    text-align: center;
}

#imageParrallaxBillet {
    position: fixed;
    top: 0px;
    z-index: -12;
}

.Chapter {
    
    padding: 0;
    position: relative;
    margin: 0px auto;
    margin: 20px auto;
   
}

.Chapter .infoChapter {
  
    color: #6c757d!important;
  
    text-align: center;
}

.Chapter figure {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 0px !important;
    margin: 0 auto 90px auto;
    border: 2px solid #294444;
}

.Chapter figcaption {
    background-color: #061319;
   
    padding: 13px 12px;
    text-align: center;
   
}   

.buttonChapter {
    position: absolute;
    bottom: 40%;
    color: white;
    background-color: #294444;
    border-radius: 20px;
    width: 170px;
    margin: 2px auto;
    left: 50%;
    margin-left: -90px;
    text-align: center;
    padding: 2px;
}

.btnS {
    color: white!important;
    background-color: #294444;
    border-radius: 20px;
    width: 170px;
    padding: 1px 10px;
  
    font-size: 20px;
    margin: 0px auto;
}

.infoChapter {
    position: absolute;
    background-color: #061319;
    width: 100%;
    color: white;
    top: 9%;
    opacity: 0.8;
    z-index: 222;
}

.infoChapter h3 {
    margin: 1px auto;
    text-align: center;
    top: 2px;
}

.infoChapter h4 {
    text-align: center;
}

.resume {
    color: #6c757d;
    padding: 3px 5px;
    font-family: 'Playfair Display', serif;
}

.lireLaSuite {
    text-align: center;
}


/* Stylisation des infos de connexion */

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px auto;
    text-align: center;
}


/* stylisation de la partie contact */

label {
    padding: 20px 0 0px;
}

input {
    margin: 0px 0 43px;
}

.inputNone {
    display: none;
    opacity: 0;
}

#tinymce {
    color: white;
    padding: 20px 10px;
}


/* Stylisation de la page administration des Chapters  */

.resizeBody {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 50px;
}

#billetContainer {
    margin-top: 20px;
}

#billetContainer figure {
    position: relative;
}

#figcaptionChapter {
    position: absolute;
    top: 2px;
    width: 100%;
}

#figcaptionChapterContainer {
    margin: 20px auto;
    text-align: center;
    color: white;
}

#figcaptionChapterContainer h2 {
    font-size: 40px;
}

#figcaptionChapterContainer p {
    font-size: 30px;
}

.contenuChapter {
    margin: 50px 0;
}

.Chapter figure img,
.contenuChapter img {
    height: 258px;
    margin: 0px auto;
}

.sousChapter {
    color: #6c757d;
    text-align: center;
}

.Chaptertemplate {
    background-color: #061319;
    margin: 91px auto;
    border: 2px solid #294444;
}

.Chaptertemplate p {
    padding: 30px 12px;
    color: white;
}

.Chaptertemplate label {
    color: #8A9DA6;
}

.trait {
    width: 80%;
    content: " ";
    height: 2px;
    background-color: white;
    margin: 65px auto;
    z-index: 3333333333;
}

.Comment {
    text-align: center;
    padding: 10px 0;
    position: relative;
}

.Comment h4,
.Comment h5 {
    color: #6c757d
}

.Comment form {
    display: flex;
    color: white;
    vertical-align: center;
}


.sentenceTableau {
    width: 300px;
}

#administrationHomeMarginBottom {
    margin-bottom: 300px;
}



.ButtonAdministration {
    color: white;
    background-color: #061319;
    padding: 20px;
    border-radius: 5px;
    text-decoration: none!important;
    width: 80%;
    margin: 20px;
    text-align: center;
    border: 2px solid transparent;
}

.ButtonAdministration:hover {
    color: #061319;
    background-color: #294444;
    border: 2px solid #061319;
    text-decoration: none!important;
}


table {
    color: white;
    margin: 20px auto;
}

table tr:hover {
    color: #061319;
    background-color: #294444;
}


/* X Stylisation de la page des Chapters administration ecrire */

.administrationChapter {
    background-color: #061319;
    color: white;
    margin: 60px 0;
    padding: 85px 0;
}



.ChapterEnCours {
    background-color: #294444;
    color: white;
    /* margin: 85px 0; */
    padding: 85px 0;
}

th,
td {
    border: white 2px solid;
    padding: 20px;
}

th {background-color:#6c757d}

#administrationChapterEcrire {
    min-width: 60%!important;
}

.actionTableau {
    display: flex;
    flex-direction: column;
    /* width: 161px; */
}

.LinkAdministration {
    text-decoration: none!important;
    color: white;
    text-align: center;
}

.LinkAdministration:hover {
    color: #061319;
    background-color: #294444;
}

#listImages {
    opacity: 0;
    font-size:1px!important;
}

#prepareSend {
    cursor:pointer;
    color: white;
    background-color: #061319;
    padding: 2px;
    border-radius: 2px;    
}

#confirmValidate, #imagePossibleValidate {
    width: 301px;
    height: 263px;
    position: fixed;
    top: 190px;
    z-index: 19029029292029202;
    background-color: #678087;
    border:2px solid #061319;
    left: 50%;
    margin-left: -150px;
   
}

#confirmValidate p {
    padding: 20px;
   color: #061319;
}
#ChapterValidationBtn {
    height: 38px;
    margin-top: 2px;
}


#confirmValidateButton {
    display: flex;
    justify-content:center;
    height: 42px;
}


#confirmValidateButton button {
    margin: 2px;
  
}
/* animation */

h1,
h2 {
    animation: ghost 20s infinite;
}

@keyframes ghost {
    0% {
        color: #061319;
    }
    50% {
        color: white;
    }
    100% {
        color: #061319;
    }
}
@keyframes success {
    0% {
        color: green;
    }
    50% {
        color: white;
    }
    100% {
        color: green;
    }
}

@keyframes Error {
    0% {
        color: red;
    }
    50% {
        color: white;
    }
    100% {
        color:red;
    }
}


@media screen and (min-width: 1800px) {
    #administrationHomeMarginBottom{
        margin-bottom: 555px!important;
        margin-top: 230px!important;
    }
}

/* Media queries */

@media screen and (max-width: 640px) {
    header {
        padding: 20px 20px;
    }

    #mainBilletContainer {
        padding :60px 
    }

    #bienvenue p {
        padding: 8px;
        color: #6c757d;
        font-size: 21px;
        margin-bottom: 17%;
    }
    #figcaptionChapterContainer h2 {
        font-size: 33px;
    }
    #figcaptionChapterContainer p {
        font-size: 22px;
    }
    .Chaptertemplate {
        padding-right: 0!important;
        padding-left: 0!important;
    }
    /* stylisation de la partie Administration Chapter mobile*/
    .administrationChapter th,
    .ChapterEnCours th {
        display: none;
    }
    .administrationChapter td,
    .ChapterEnCours td {
        display: flex;
        text-align: center;
        color: whitesmoke;
        justify-content: center;
    }
    tbody tr:nth-child(even) {
        background-color:#8A9DA6!important;
    }
}